
  
  .all {
    display: flex;
    flex-direction: column;
    overflow: hidden;

  }
  .principal {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 50px;
    gap: 120px;
    background-color: rgb(86, 11, 173);
    padding-right: 50px;
  }

  .abox {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px; 
    padding-bottom: 166px;
  }

 
  
  .imagen {
    width: 300px;
    height: 300px;
     -moz-border-radius: 50%;
     -webkit-border-radius: 50%;
     border-radius: 50%;
     border: 2px solid white
  }
  
  .textcontainer {
    box-shadow: 0px 0px 10px 0px rgba(255,255,255,1);
    border-radius: 20px;
    background: #fff;
    line-height: 19px;
    font-size: 14px;
    width: 80%;
    height: 220px;
  }
  
  .textcontainer h1 {
    color: rgb(86, 11, 173);
    font-size: 18px;
  }

  .imagenHouse {
    padding-top: 60px;
  }

  @media screen and (max-width: 450px) {
    .textcontainer {
      width: 90%;
      height: 220px;
    }
  }